# PAKASIR
PAKASIR_PROJECT=SLUG_PROJECT_KAMU
PAKASIR_API_KEY=API_KEY_KAMU

# TELEGRAM
TELEGRAM_ENABLED=true
TELEGRAM_BOT_TOKEN=TOKEN_BOT_KAMU
TELEGRAM_CHAT_ID=CHAT_ID_ADMIN

# PERSISTENT ORDER STORAGE (UPSTASH REDIS)
UPSTASH_REDIS_REST_URL=https://xxxxxxxx.upstash.io
UPSTASH_REDIS_REST_TOKEN=TOKEN_UPSTASH
